@charset "utf-8";

/* CSS document */
/* ma première feuille de style externe */
/* des styles simples pour visualiser les div */
.fond_rouge {
 background: red;
}

.fond_rouge {
background: red;
}

.fond_vert {
 background: greenyellow;
}  

.fond_bleu{
background: blue;
}
    
.fond_jaune{
background: yellow;
}    

body{
    margin: auto; /* la marge extérieure d'un élèlement */
    background-color:rgb(209, 128, 28);
    font-family:"Lucida sans" , "Lucida" , "Lucida Regular" , "Lucida Grande" , "Lucida Sans Unicode" , Geneva Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper { 
    width: 1000px;
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
   
}

/* le haut de page */
header { 
    background: url(../img/panorama.jpg) center center no-repeat;
    height: 417px;/* hauteur de l'élèment */
    border: 5px solid red;
}

/* le cote de la page */
aside {
    width: 280px;/* largeur de l'élèment */
    float: left;
    padding: 10px;
}

/* le contenu principal */
#main {
    width: 680px;
height: 400px;
    float: right;
    padding: 10px;
    
}
/* la classe pour tout remttre dans le flu normal */
.clear {
    clear: both;
}

/* le pied de page */
footer {
height: 236px;
border: 5px solid red;

}



