@charset "utf-8";

/* CSS document */
/* ma première feuille de style externe */
/* des styles simples pour visualiser les div */
.fond_rouge {
 background: red;
}

.fond_orange {
background: orangered;
}

.fond_vert {
 background: greenyellow;
}  

.fond_bleu {
background: blue;
}
    
.fond_jaune {
background: yellow;
}   
.fond_bleu-ciel{
    background: lightblue
} 

body {
    margin: auto; /* la marge extérieure d'un élèlement */
    background-color:rgb(209, 128, 28);
    font-family:"Lucida sans" , "Lucida" , "Lucida Regular" , "Lucida Grande" , "Lucida Sans Unicode" , Geneva Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper { 
    width: 1000px;
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
   
}

/* le haut de page */
header { 
    background: url(../img/panorama.jpg) center center no-repeat;
    height: 419px;/* hauteur de l'élèment */
    border: 3px solid blue;
}

/* le cote de la page */
aside {
    width: 280px;/* largeur de l'élèment */
    float: left;
    padding: 10px;
}

/* le contenu principal */
#main {
    width: 680px;
    float: right;
    padding: 7px;
    border: 3px solid blue;
    
}
/* la classe pour tout remttre dans le flu normal */
.clear {
    clear: both;
}

/* le pied de page */
footer {
    background: lightblue;
    height:235px;
    border: 3px solid blue;

}
/* le formulaire sur le CSS */

form {
    background: wheat;
    padding: 10px;
    width: 80%;
}
fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid olive;
    width: 80%;
}
legend {
    font-weight: 800;
    color: olivedrab;
}
label {
    background-color: olivedrab;
    color: white;
    margin-top: 10px;
    /* display: block permet d'allé a la ligne automatiquement */
    display: block;
    width: 265px;
}
label.inline {
    /* tous les labels qui on la class .inline */
    display: inline;
    margin-right: 50px;
}
input, textarea, select {
    /* pour styler plusieurs élèments et leur donner attributs commun */
    border: 2px solid olivedrab;
    padding: 3px;
    box-shadow: 1px 1px 2px olive inset;
}
select {
    margin-top: 3px;
}
/* le tableau */
table {
    border-collapse:collapse; /* fusionne les bordures stylées ci-aprés */
}
table, th, td {
border: 3px solid blue;
}
th, td {
    padding: 5px;
}
tr:hover{/* un pseudo class :hover au passage du curseur*/
    background-color: green;
}

caption, th, tfoot {
    text-align: left;
    border: 3px solid blue;
    background: orangered;
    color: whitesmoke;
    padding: 10px;
}
caption {
    caption-side: top;
    text-transform: uppercase; 
}







