@charset "utf-8";

/* CSS document */
/* ma première feuille de style externe */
/* des styles simples pour visualiser les div */
.fond_rouge {
 background: red;
}
.fond_vert {
    background: green;
}

.fond_orange {
background: orangered;
}

.fond_vert {
 background: greenyellow;
}  

.fond_bleu {
background: #9CB5CE;
}
    
.fond_jaune {
background: yellow;
}   
.fond_bleu-ciel{
    background: lightblue
} 

body {
    margin: auto; /* la marge extérieure d'un élèlement */
    /* background-color:rgb(209, 128, 28); */
    background: linear-gradient(to left, red, yellow, green);
    font-family:"Lucida sans" , "Lucida" , "Lucida Regular" , "Lucida Grande" , "Lucida Sans Unicode" , Geneva Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper { 
    width: 1200px;
    height: 900px;
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
}

/* le haut de page */

header { 
    /* background: url(../img/panorama.jpg) center center no-repeat; */
    background: url(../img/panorama.jpg) center top no-repeat, linear-gradient(lightblue, whitesmoke) ;
    height: 400px;/* hauteur de l'élèment */
    border: 2px solid #9CB5CE;
}

header h1 a {
    text-decoration: none;
    color: #333;
}

header h1 a:over {
    background-color: #333;
    color: white;
}

.texte_droite {
    text-align: right;
}

nav {
    background: yellowgreen;
    border-radius: 0% 14% 0% 0%;
}

nav h1 {
    background-color: white;
    text-transform: uppercase;
    width: 20%;
    text-align: center;
    margin-left: 10%;
}

nav h1 a {
     text-decoration: none;
     color: black;
}

nav h1 a:hover {
    /* text-decoration: none; */
    background-color: black;
    color: white;
}

nav ul li {
    background-color: greenyellow;
    list-style-type: none;
    list-style-image: url('../img/globe_fleche.png');
}

/* le cote de la page */
aside {
    width: 280px;/* largeur de l'élèment */
    float: left;
    padding: 10px;
    border-radius: 0% 25% 0% 0%;
}
/* la navigation et les styles de lien */
/* nav {
    background: radial-gradient()
} */
a {
    text-decoration: none;
}/* les pseudo class */ 
/* quand le lien n'a pas etait visité */
a:link {  
    color: green;
}
/* quand le lien a etait visité */
a:visited {
    color: blue;
}
/* au survol de la souri */
a:hover {
    color: white;
    /* background: orangered; */
    text-decoration: underline
}
/* le contenu principal */
#main {
    width: 880px;
    float: right;
    padding: 7px;
    /* border: 3px solid blue; */
    border-radius: 0% 25% 0% 0%;

    
}
/* la classe pour tout remttre dans le flu normal */
.clear {
    clear: both;
}

/* le pied de page */
footer {
    background: lightblue;
    height: 120px;
    border: 3px solid #9CB5CE;
    margin-bottom: 10px;

}
/* le formulaire sur le CSS */

form {
    background: wheat;
    padding: 10px;
    width: 80%;
}
fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid olive;
    width: 80%;
}
legend {
    font-weight: 800;
    color: olivedrab;
}
label {
    background-color: olivedrab;
    color: white;
    margin-top: 10px;
    /* display: block permet d'allé a la ligne automatiquement */
    display: block;
    width: 265px;
}
label.inline {
    /* tous les labels qui on la class .inline */
    display: inline;
    margin-right: 50px;
}
input, textarea, select {
    /* pour styler plusieurs élèments et leur donner attributs commun */
    border: 2px solid olivedrab;
    padding: 3px;
    box-shadow: 1px 1px 2px olive inset;
}
select {
    margin-top: 3px;
}
/* le tableau */
table {
    border-collapse:collapse; /* fusionne les bordures stylées ci-aprés */
}
table, th, td {
border: 3px solid blue;
}
th, td {
    padding: 5px;
}
tr:hover{/* un pseudo class :hover au passage du curseur*/
    background-color: green;
}

caption, th, tfoot {
    text-align: left;
    border: 3px solid blue;
    background: orangered;
    color: whitesmoke;
    padding: 10px;
}
caption {
    caption-side: top;
    text-transform: uppercase; 
}
/* différents styles de bordure */
.filetgauche {/* un filet a gauche du bloc */
    border-left: 4px solid blue;
}
.cartouche {/* un essai de bordure avec des arrondis */
    border: 5px solid red;
    border-radius: 100px;
    padding: 15px;
}
.cartouche2 {/* un essai de bordure avec des arrondis */
    border: 3px solid blue;
    border-radius: 100px;
    padding: 15px;
}
/* ici pour l'astuce pour le survol dans la page texte */
#survol p {
    display: none;
    background-color: yellow;
    padding: 20px;
}
#survol:hover p {
    display: block;
}




